/* Style Css Here */

:root{
	--main-font: 'Poppins', sans-serif;
	--primary-color: #04091E;
	--secondary-color: #747681;
  --btn-bg: #6022ea;
	--line-height: 32px;
	--body-font-size: 18px;
	--body-bg: #fff;
}

/* base css */
body{
	font-family: var(--main-font);
	color: 	var(--secondary-color);
	line-height: var(--line-height);
	font-size: var(--body-font-size);
	background-color: var(--body-bg);
  position: relative;
}



a, a:hover, a:focus{
  text-decoration: none;
}

/* margin and padding css */
.section_padding{
	padding: 100px 0;
}
/* site fixed item */

.left_side_fixed {
  position: absolute;
  left: -9%;
  top: 3%;
  z-index: 99;
}
.side_content li {
  display: inline-block;
  margin: 10px;
}
.side_content li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  z-index: 9;
}
.side_content {
	rotate: -90deg;
	position: fixed;
	background-color: var(--btn-bg);
}
.site_logo a img {
  height: 45px;
  width: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 5525d1c8ba16c0b4f1bf17df4848b4b83da6ae0c
/* menu css */
.mobile-menu-btn {
  display: flex;
  justify-content: end;
}
.mobile-menu-btn button {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: 0;
  background-color: var(--bs-primary-bg-subtle);
}
.mobile-menu-btn {display: none;}
.main_menu_area ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main_menu_area ul li {
  display: inline-block;
  margin: 0 5px;
}
.main_menu_area ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main_menu_area ul li a.hiring_button {
  display: inline-block;
  background-color: var(--btn-bg);
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
}
.menu_fixed .main_menu_area ul li a.hiring_button {
  color: #fff;
}

pos {
}
.header_menu_area {
  position: ;
}
.mobile_menus {
	position: absolute;
	top: 75px;
	background-color: #fff;
	width: 300px;
	padding: 20px 30px 30px 30px;
	right: 10px;
	box-shadow: 2px 1px 2px 0px #87898b;
  display: none;
}
.mobile_menus ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile_menus ul li:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 1px solid #fdfd;
}
.mobile_menus ul li a {
  display: block;
  padding-bottom: 10px;
  color: var(--primary-color);
  font-size: 16px;
}
.mobile_menus ul li:last-child {
  padding-top: 10px;
}
.mobile_menus  .project_start_btn {
	background-color: var(--btn-bg);
	border: 1px solid var(--btn-bg);
	color: #fff;
  text-align: center;
}


.header_right_area ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.project_start_btn {
  background-color: transparent;
  border: 1px solid var(--body-bg);
  padding: 5px 20px;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
}
.menu_fixed .project_start_btn {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  color: #fff;
}
.header_right_area ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header_right_area ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.header_menu_area {
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: rgba(0,0,0, .7);
}
.menu_fixed {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 3px 10px -8px rgba(0,0,0, .7);
  z-index: 999;
}
.menu_fixed .main_menu_area ul li a {
  color: var(--primary-color);
}
.mean-container a.meanmenu-reveal {
  padding: 25px 20px 0 0;
}
.mean-container .mean-nav {
  top: 18px;
}
/* hero area css */
.hero_area{
  display: flex;
  align-items: center;
}
.header_height{
  height: 100vh;
  position: relative;
}
.header_height::before {
	position: absolute;
	content: '';
	background: rgba(0,0,0, .6);
	height: 100%;
	width: 100%;
}
.header_background {
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}
.hero_area_content h1 {
  font-size: 75px;
  font-weight: 700;
  color: var(--body-bg);
  line-height: 1.2;
  margin-bottom: 30px;
  position: relative;
}
.hero_area_content p {
  font-size: 30px;
  position: relative;
  line-height: 1.5;
  margin-left: 100px;
  margin-bottom: 0;
  color: var(--body-bg);
}
.hero_area_content p:before {
  position: absolute;
  content: '';
  left: -70px;
  top: 20px;
  width: 50px;
  height: 2px;
  background-color: #dee;
  display: block;
}

/*  home slides css */
.home_right_sideslink {
	list-style: none;
	font-family: var(--main-font);
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	margin: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: 0;
}
.home_right_sideslink {
	list-style: none;
	font-family: var(--main-font);
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	margin: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: 0;
}
.home_right_sideslink li {
  display: block;
  padding: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.home_right_sideslink li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.home_right_sideslink li::before {
	content: "";
	display: block;
	height: 6px;
	width: 6px;
	background-color: var(--btn-bg);
	border-radius: 50%;
	position: absolute;
	top: 25px;
	left: 25px;
}
.home_right_sideslink a {
	display: block;
	padding: 10px 50px;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 16px;
  text-decoration: none;
}
.home_right_sideslink span {
  display: block;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
  letter-spacing: 0;
}
.home_right_sideslink li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* about us section css */
.section_border_top {
	padding-top: 50px;
	border-top: 1px solid #EAEAEB;
}
.incafe_service_area, .incafe_contact_area {
	background-color: #fafafa;
}
.incafe_service_area.section_padding, .incafe_ceo_text.section_padding, .incafe_previous_work.section_padding, .incafe_member_zone.section_padding, .incafe_blog_area.section_padding, .footer_area.section_padding {
  padding-bottom: 52px;
}

.box_icon i {
  display: inline-block;
  font-size: 30px;
}
.box_icon {
  height: 65px;
  width: 65px;
  background-color: rgba(53,191,230,.35);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: .3s;
}

.incafe_services h2 {
  font-size: 45px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 60px;
}
.incafe_services h2 span {
  font-weight: 500;
}

.incafe_services p {
  margin-left: 50px;
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}
.single_service_box {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	transition: .3s;
	box-shadow: 0;
}
.single_service_box:hover {
	background-color: transparent;
	background-image: linear-gradient(180deg, #85EF95 0%, #4CE0AD 100%);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  transform: scale(1.1);
}
.single_service_box:hover .box_description p, .single_service_box:hover .box_button {
	color: var(--primary-color);
}
.single_service_box:hover .box_icon{
	background-color: #04091E0f;
	color: var(--primary-color);
}
.single_service_box h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.single_service_box .box_description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

/* about ceo */

.ceo_about_area .ceo_about_text h2 {
  font-size: 55px;
  font-family: var(--main-font);
  color: var(--primary-color);
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
}
.ceo_about_area .ceo_about_text p {
  margin-bottom: 40px;
}
.ceo_about_area .ceo_about_text .ceo_signature {
  margin-bottom: 20px;
}.ceo_about_area 
.ceo_about_area .ceo_about_text .ceo_signature h3 {
  color: var(--primary-color);
}
.ceo_about_area .ceo_about_text h3 {
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
}

/* animation */
@keyframes roundcircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.ceo_about_area .ceo_image {
  position: relative;
}
.ceo_about_area .ceo_image .rotate_animation {
  position: absolute;
  top: 30px;
  right: 60px;
  animation: roundcircle 24s infinite;
}

/* our company profile */
.incafe_previous_work {
	border-top: 1px solid #EAEAEB;
}
.single_work_box {
	padding: 25px;
	background-color: #fbfbfb;
	box-shadow: 0px 0 5px 3px #fbfbfb;
  transition: .4s;
}
.single_work_box:hover {
	background-color: transparent;
	background-image: linear-gradient(180deg, #85EF95 0%, #4CE0AD 100%);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
	transform: scale(1.1);
}
.single_work_box .work_count {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--primary-color);
}
.single_work_box .work_count span {
  margin-left: -5px;
}
.single_work_box h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.single_work_box p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  margin: 0;
}
.single_work_box:hover p{
  color: var(--primary-color);
}


/* happy client */

.incafe_happy_client {
  background-color: #04091e;
}
.section_area .section_title{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  margin: 0;
}

.section_area .sub_title{
  font-size: normal;
}

.single_testmonial {
	position: relative;
	padding: 30px;
	background-color: #1D2234;
	border-radius: 10px;
}
.single_testmonial .author_content .testmonial_quote {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  margin-bottom: 20px;
}
.single_testmonial .testmonial_quote i {
  font-size: 20px;
}
.single_testmonial .service_rating_by_client {
	position: absolute;
	top: 30px;
	right: 30px;
}
.single_testmonial .service_rating_by_client span {
	color: #FF9E15;
}
.single_testmonial .testmonial_description p {
	color: #fff;
	margin-bottom: 20px;
}

.single_testmonial .author_thumb_designation .author_thumb img {
  height: 50px;
  width: 50px;
  border: 2px solid var(--btn-bg);
  border-radius: 50%;
}
.single_testmonial .author_thumb_designation .author_thumb {
  margin-right: 15px;
}
.single_testmonial .author_name_designation .author_name {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.single_testmonial .author_name_designation .author_designation {
  margin: 0;
  font-weight: 400;
}

.single_slider_item .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.single_slider_item .owl-dots button {
  height: 5px;
  width: 10px;
  background: #fff;
  margin: 3px;
  border-radius: 5px;
  display: inline-block;
  transition: .3s;
}
.single_slider_item .owl-dots .owl-dot.active{
  width: 20px;
}

/* our team */
.incafe_member_zone .section_area .section_title{
  color: var(--primary-color);
}

.single_team_item {
  background-color: #f9f7f7;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: .3s;
  position: relative;
  margin-bottom: 48px;
}
.single_team_item .memer_thumb img {
  width: 100%;
  height: 310px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;

}
.single_team_item .memer_thumb {
  margin-bottom: 20px;
  position: relative;
}
.member_content_wrap .member_name a {
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--main-font);
  margin-bottom: 10px;
  display: block;
  font-size: 20px; 
  transition: .3s;
}
.member_content_wrap .member_name:hover a{
  text-decoration: none;
}
.member_content_wrap .member_designation h6 {
  font-weight: 400;
  margin: 0;
}

.member_social_links li {
	display: block;
	margin: 15px 0;
	list-style: none;
	border: 1px solid var(--btn-bg);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	padding: 5px;
	background-color: rgba(96, 34, 234, .6);
  transition: .3s;
  cursor: pointer;
}
.member_social_links {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(96, 34, 234, .5);
	padding: 10px;
	border-bottom-right-radius: 30px;
	height: 100%;
  opacity: 0;
  transition: .3s;
}
.member_social_links li a {
	color: var(--body-bg);
}
.single_team_item:hover .member_social_links{
  opacity: 1;
}
.single_team_item .member_social_links li:hover{
  background-color: #fff;

}
.single_team_item .member_social_links li:hover a{
  color: var(--primary-color);
}

/* work demo */

.incafe_portfolio .single_work_demo {
	background-color: #fff;
	padding: 30px;
	border-radius: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.single_work_demo .work_category .work_type {
	font-size: 14px;
	margin-right: 10px;
	color: var(--primary-color);
}
.single_work_demo .work_category .work_icon li {
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
}
.single_work_demo .single_work_info {
  margin-top: 20px;
}
.single_work_demo .work_desc a {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  font-weight: 600;
}
.single_work_demo .work_desc p {
  line-height: 30px;
}

.single_work_demo .single_work_hover_desc {
  position: absolute;
  top: 100%;
  background-color: rgba(255,255,255, .5);
  padding: 30px;
  left: 0;
  border-radius: 0;
  backdrop-filter: blur(5px);
  transition: .8s;
  opacity: 0;
  bottom: 0;
}
.single_work_demo:hover .single_work_hover_desc {
  top: 24%;
  opacity: 1;
}

.single_work_demo .single_work_hover_desc .project_name {
  color: var(--primary-color);
  margin-bottom: 0;
}
.single_work_demo .single_work_hover_desc .project_name h5 {
  margin: 0;
  font-size: 18px;
}
.single_work_demo .single_work_hover_desc .project_description p {
  line-height: 24px;
  font-size: 15px;
  margin-top: 10px;
  color: var(--primary-color)
}

.single_work_hover_desc .go_to_project_link .project_btn {
  background: var(--btn-bg);
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  transition: .4s;
}
.single_work_hover_desc .go_to_project_link:hover .project_btn {
  background: transparent;
  border-color: var(--btn-bg);
}
.single_work_hover_desc .go_to_project_link .project_btn i {
  color: var(--body-bg);
  font-size: 14px;
}
.single_work_hover_desc .go_to_project_link:hover .project_btn i{
  color: var(--primary-color)
}

.incafe_portfolio .view_all_works {
  padding: 10px 50px;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}
.incafe_portfolio .view_more_works {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.incafe_portfolio .view_all_works:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* blog area css */

.blog_box_meta {
  padding: 0 40px 40px 40px;
}
.blog_box_meta .blog_info {
  font-size: 14px;
}
.single_blog_item {
  background-color: #fff;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .05);
  margin-bottom: 48px;
}
.blog_thumb_img {
  margin-bottom: 20px;
}
.blog_info .blog_writer_name a {
	color: var(--secondary-color);
	text-decoration: none;
	margin-left: 5px;
}
.blog_info .blog_time i{
  margin-right: 5px;
}

.blog_box_meta .blog_title {
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 15px;
  display: inline-block;
  letter-spacing: -1px;
  transition: .3s;
}
.blog_box_meta p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.blog_box_meta .blog_title:hover {
	color: var(--btn-bg);
}
/*  our work step */
.incafe_workflow.incafe_work_process{
  padding-bottom: 70px;
}
.incafe_workflow.incafe_work_process{
	background-color: #fbfbfb;
}
.step {
  padding: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 3px solid var(--secondary-color); 
  margin-bottom: 30px;
}
  .step.active, .step:hover, .step:focus {
    border: 3px solid var(--btn-bg); 
  }
  .step .number {
    font-size: 12px;
    letter-spacing: .2rem;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
    color: #999; 
  }
  .step h3, .step .h3 {
    font-size: 18px;
    color: var(--btn-bg);
    font-weight: 700; 
  }
  .step *:last-child {
    margin-bottom: 0; 
  }

/* contact form */
.contact_section h3 {
	font-size: 40px;
	font-weight: 700;
	color: var(--primary-color);
	line-height: 1.4;
	margin-bottom: 30px;
}

.contact_form label {
  display: inline-block;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}
.contact_form input {
  width: 100%;
  border: 0;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.contact_form input, .contact_form textarea{
  outline: none;
}
.contact_form textarea {
  width: 100%;
  border: 0;
  resize: none;
  height: 150px;
  background: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.contact_form button {
  margin: 0;
  border: 0;
  width: 100%;
  padding: 5px;
  background: var(--btn-bg);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
}

/* work page css */
.filter_button {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.filter_button button {
  border: 1px solid #dddddd;
  background: transparent;
  padding: 5px 15px;
  color: var(--primary-color);
  transition: all .3s;
}

.filter_button button.mixitup-control-active {
  background: var(--btn-bg);
  color: #fff;
}

/*  footer css */
.footer_logo a img {
	height: 60px;
	width: auto;
}
.footer_area_bg, .footer_credit_area {
  background-color: var(--primary-color);
}
.footer_bg_item {
	position: relative;
	z-index: 1;
}
.footer_item.footer_about {
  position: relative;
  padding-right: 0 !important;

}

.footer_item p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
}
.footer_item {
  color: #dedede;
}
.footer_item .footer_social_links li {
	display: inline-block;
	height: 40px;
	width: 40px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	padding: 3px;
	margin: 0 5px 0 0;
	background-color: #ddd;
}
.footer_item .footer_social_links li a {
	color: var(--primary-color);
}
.footer_social_links {
  margin-top: 30px;
}
.footer_item h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--body-bg);
  margin-bottom: 20px;
}
.footer_item li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_item li a {
  display: block;
  text-decoration: none;
  color: #dedede;
  font-size: 16px;
}
.footer_item li .content strong {
  display: block;
  color: #fff;
}
.footer_item li .content {
  margin-bottom: 15px;
}
.footer_item li:last-child .content {
  margin: 0;
}

.footer_item form input {
  border: 0;
  margin: 0;
  border-radius: 0;
  position: relative;
  padding: 15px;
  height: 50px;
  width: 100%;
}
.footer_item form input button {
  position: absolute;
  right: 0;
}
.footer_item form {
  position: relative;
}
.footer_item .form-control:focus {
	box-shadow: none;
}
.footer_item form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  border: 0;
  margin: 0;
  background-color: var(--btn-bg);
  height: 50px;
}
.footer_item form button i {
  color: #fff;
}
/* footer credit */

.footer_credit_area {
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer_credit_area p {
  margin: 0;
}


/* about us page css */

.about-banner {
	padding-top: 263px;
	padding-bottom: 120px;
	background: url(assets/img/about-banner.png) no-repeat center/cover;
}
.about-banner .about-banner-text {
	text-align: center;
}
.about-banner .about-banner-text h1 {
	color: #FFFFFF;
	font-family:var(--main-font);
	font-size: 48px;
	font-weight: 700;
}
.about-banner .about-banner-btm {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 20px;
}
.about-banner .about-banner-btm .text a {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	color: #fff;
}

.about-banner .about-banner-btm .icon {
	color: #fff;
}
.about-banner .about-banner-btm .text a {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	color: #fff;
  text-decoration: none;
}
/* about area section */
.about {
	padding: 120px 0;
	background: url(assets/img/About-bg.png) no-repeat center/cover;
	background-color: #FAFAFA;
}
.about-banner .about-banner-text .blog-d-banner-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-top: 13px;
}
.about-banner .about-banner-text .blog-d-banner-btn .blog-d-btn-item a {
	display: inline-block;
	font-size: 14px;
	line-height: 0.8;
	color: #fff;
	font-weight: 400;
	text-transform: capitalize;
}
.about-head h2 {
	margin-bottom: 0;
	font-family: var(--main-font);
	font-size: 48px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 67px;
	color: #04091E;
	padding-bottom: 20px;
}
.about-head p {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #747681;
}
.about-middel {
	padding-top: 28px;
}
.about-middel .about-middel-item {
	display: flex;
	align-items: center;
	gap: 30px;
	padding-bottom: 24px;
}
.about-middel .about-middel-item .about-middel-inner .inner {
	display: flex;
	gap: 16px;
}
.about-middel .about-middel-item .about-middel-inner .inner .icon i {
	height: 24px;
	width: 24px;
	background-color: #2662FA;
	color: #fff;
	text-align: center;
	line-height: 24px;
	border-radius: 50px;
}
.about-middel .about-middel-item .about-middel-inner .inner .text p {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	color: #04091E;
}
.about-btn a {
	padding: 14px 38px;
	background-color: #2662FA;
	border-radius: 12px;
	display: inline-block;
	color: #fff;
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 18px;
	line-height: 180%;
	transition: all linear 0.5s;
	border: 1px solid #2662FA;
}
.about-img .about-img-item {
	text-align: end;
}

.team_bg {
	background: url(assets/img/team-bg.webp) no-repeat center/cover;
}
.team_bg .section_area .section_title {
	color: #fff;
}
.team_bg .section_area .sub_title {
	color: #fff;
}

.about_testimonial {
	background-color: #FAFAFA;
}
.about_testimonial .section_title {
	color: var(--primary-color);
}
.about_testimonial .single_testmonial {
  background-color: #fff;
}
.about_testimonial .single_testmonial .author_content .testmonial_quote {
	background: #1D2234;
}
.about_testimonial .single_testmonial .testmonial_description p {
	color: var(--primary-color);
}
.about_testimonial .single_testmonial .author_name_designation .author_name {
	color: var(--primary-color);
}
.about_testimonial .single_testmonial .testmonial_quote i {
	color: #fff;
}
.about_testimonial .single_slider_item .owl-dots button {
	background: var(--primary-color);
}

/* service page css */
.service_work {
  background-color: var(--primary-color);
}
.service_work .section_title {
	margin-bottom: 20px;
}
.work-item-box {
	padding: 13px 13px;
	background-color: #fff;
	border-radius: 16px;
  margin-bottom: 30px;
}
.work-item-box .work-img {
	position: relative;
}
.work-item-box .work-img img {
	width: 100%;
}
.work-item-box .work-img .work-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: linear-gradient(95.49deg, #02FCCF -36.87%, #1448FF 98.63%);
	opacity: 0.8;
	border-radius: 16px;
	transition: all 0.5s ease-out 0s;
}
.work-item-box .work-img .work-overlay i {
	color: #fff;
	font-size: 30px;
}

.work-item-box .work-img:hover .work-overlay {
	height: 100%;
}
.work-item-box .work-img .work-overlay i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	z-index: 1;
	font-size: 30px;
	opacity: 0;
}
.work-item-box .work-img:hover .work-overlay i{
  opacity: 1;
}
.single_service_slider  .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.single_service_slider .owl-dots button {
  height: 5px;
  width: 10px;
  background: #fff;
  margin: 3px;
  border-radius: 5px;
  display: inline-block;
  transition: .3s;
}
.single_service_slider  .owl-dots .owl-dot.active{
  width: 20px;
}

/* works page css */

.filter-area{
  background-color: var(--primary-color);
	background: url(assets/img/best-work-bg.png) no-repeat center/cover;
}


/* blog page css */

.inblog .pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	justify-content: end;
	margin-top: 20px;
  gap: 5px;
}
.inblog .page-link {
	font-weight: 600;
	font-size: 13px;
	color: #CDD6D7;
	border: 1px solid #F5F5F5;
}
.inblog .page-link {
	padding: 11px 16px;
}
.inblog .page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	border-radius: 8px;
}
.inblog .page-link:hover {
	z-index: 2;
	color: #fff;
	background-color: var(--btn-bg);
	border-color: var(--btn-bg);
}
.inblog .page-link:focus{
  outline: none;
  --bs-pagination-focus-color: none;
  --bs-pagination-focus-bg: none;
  --bs-pagination-focus-box-shadow: none;
}

/* blog details page css */

.single_blog_post{

}
.single_blog_post p {
  margin-bottom: 30px;
}
.single_blog_post .post_image {
  margin-bottom: 30px;
}
.single_blog_post span {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
  display: block;
}
.single_blog_post h3 {
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.single_blog_post .wp-block-quote {
  background: #fafafa;
  padding: 20px;
  border-left: 5px solid var(--btn-bg);
}
.single_blog_post .wp-block-quote p {
  margin: 0;
}

.tag{
  margin-bottom: 20px;
}
.tag .tag-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
.tag .tag-btn h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}
.tag .t-btn a {
  padding: 5px 10px;
  background-color: #fafafa;
  margin: 0 5px;
  font-size: 16px;
  color: var(--secondary-color);
  border-radius: 4px;
  transition: all .3s;
}
.tag .t-btn a:hover{
  background-color: var(--btn-bg);
  color: #fff;
}
.blog-social .blog-social-item {
	display: flex;
	align-items: center;
}
.blog-social .blog-social-item h5 {
	font-size: 16px;
	color: var(--primary-color);
	font-weight: 600;
	margin: 0px 20px 0 0;
}
.blog-social {
	border-top: 1px solid #ebecf2;
	padding: 30px 0 0;
	margin: 20px 0 0;
}
.blog-social .blog-social-item .icon i {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #446bb9;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
}

.blog-social .blog-social-item .icon .facebook i {
	background-color: #1877f2;
}
.blog-social .blog-social-item .icon .twiter i {
	background-color: #00acee;
}
.blog-social .blog-social-item .icon .pinters i {
	background-color: #c8232c;
}
/* sidebar */
.blog-sidebar .search-form {
	position: relative;
}
.blog-sidebar .search-form input[type="search"] {
	width: 100%;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	border-radius: 3px;
	font-weight: 500;
	border: none;
	background: #fff;
	color: #8f8d98;
	outline: 0;
	padding: 0 25px;
	border: 1px solid #cfd2de;
	font-family: var(--main-font);
}
.blog-sidebar .search-form button {
	font-size: 16px;
	line-height: 52px;
	background: 0 0;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 17px;
	top: 0;
	z-index: 2;
	transition: all 0.4s ease;
	color: rgba(0, 0, 0, 0.8);
}
.blog-sidebar .widget {
	position: relative;
	border: 1px solid #ebecf1;
	border-radius: 10px;
	margin: 0 0 30px;
	padding: 32px 30px 37px;
}
.blog-sidebar .widget .widget-title, .footer-area .widget .widget-title {
	color: var(--primary-color);
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	border-bottom: 1px solid #cfd2de;
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
	margin: 0 0 20px;
}
.blog-sidebar .widget ul {
	margin: 0;
	padding: 0;
}

.blog-sidebar .widget ul li a {
	color: var(--secondary-color);
	display: inline-block;
	line-height: 32px;
	font-size: 16px;
}


/* contact us page css */

.contact-us-item .contact-us-item-inner {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 40px 40px 40px;
	border: 1px solid rgba(18, 20, 29, 0.1);
	border-radius: 12px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}
.contact-us-item .contact-us-item-inner .icon i {
	height: 64px;
	width: 64px;
	background-color: var(--btn-bg);
	color: #fff;
	border-radius: 50px;
	text-align: center;
	line-height: 64px;
	font-size: 30px;
}
.contact-us-item .contact-us-item-inner .text h3 {
	font-family: var(--main-font);
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: var(--primary-color);
  margin-bottom: 0;
}
.contact-us-item .contact-us-item-inner .text a {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: var(--secondary-color);
}

/* hiring page css */
.job-block {
  position:relative;
  margin-bottom:30px
}
.job-block .inner-box {
  position:relative;
  padding:32px 20px 22px 30px;
  background:#fff;
  border:1px solid #ecedf2;
  box-sizing:border-box;
  border-radius:10px;
  transition:all .3s ease
}
.job-block .inner-box:hover {
  box-shadow:0 7px 18px rgba(64,79,104,.05)
}
.job-block .content {
  position:relative;
  padding-left:68px;
  min-height:51px
}
.job-block .company-logo {
  position:absolute;
  left:0;
  top:0;
  width:50px;
  transition:all .3s ease
}
.job-block .company-logo img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.job-block .h4,
.job-block h4 {
  font-size:18px;
  color:#202124;
  font-weight:500;
  line-height:26px;
  top:-3px;
  margin-bottom:3px
}
.job-block .h4 a,
.job-block h4 a {
  color:#202124;
  transition:all .3s ease
}
.job-block .h4 a:hover,
.job-block h4 a:hover {
  color:var(--primary-color)
}
.job-block .job-info {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
	gap: 15px;
}
.job-block .job-info li {
  position:relative;
  font-size:14px;
  line-height:22px;
  color:dimgray;
  font-weight:400;
  padding-left:25px;
  margin-bottom:5px;
}
.job-block .job-info li i {
  position:absolute;
  left:0;
  top:0;
  font-size:18px;
  line-height:22px;
  color:dimgray
}
.job-block .job-info li a {
  color:dimgray
}
.job-block .bookmark-btn {
  position:absolute;
  right:0;
  top:-15px;
  height:30px;
  width:30px;
  line-height:35px;
  text-align:center;
  font-size:14px;
  border-radius:50%;
  cursor:pointer;
  background:#fff;
  transition:all .3s ease;
  border: 1px solid #999;
}
.job-block .bookmark-btn i {
	margin: 4px;
	display: block;
}
.job-block .bookmark-btn:hover {
  background:#ecedf2
}
.job-block .job-other-info {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	gap: 10px;
}
.job-other-info li {
	position: relative;
	font-size: 13px;
	line-height: 15px;
	margin-right: 15px;
	padding: 5px 20px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.job-other-info li.time {
	background: rgba(25,103,210,.15);
	color: var(--primary-color);
}
.job-other-info li.green, .job-other-info li.privacy {
	background: rgba(52,168,83,.15);
	color: #34a853;
}
.job-other-info li.required {
	background: rgba(249,171,0,.15);
	color: var(--primary-2nd-color);
}

/* job details */
.job-detail {
	position: relative;
	padding-right: 30px;
}
.job-detail h4 {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #202124;
	margin-bottom: 20px;
}
.job-detail p {
	position: relative;
	font-size: 15px;
	line-height: 26px;
	color: dimgray;
	margin-bottom: 26px;
}
.list-style-three {
	position: relative;
	margin-bottom: 50px;
}
.list-style-three li {
	position: relative;
	font-size: 15px;
	line-height: 26px;
	color: dimgray;
	padding-left: 20px;
	margin-bottom: 25px;
  list-style: none;
}
.list-style-three li::before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 4px;
	width: 4px;
	background: #202124;
	content: "";
}
.job_details .other-options {
	position: relative;
	margin-bottom: 50px;
	margin-top: 50px;
}
.job_details .social-share {
	display: flex;
	align-items: center;
}

.social-share h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #202124;
	margin-right: 20px;
}
.social-share a {
	padding: 10px 25px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background: #222;
	border-radius: 8px;
	transition: all .3s ease;
	margin: 5px 10px 5px 0;
}
.social-share a.facebook {
	background: #3b5998;
}
.social-share a.linkedin {
	background: #007bb5;
}
.social-share a.twitter {
	background: #55acee;
}
.sidebar, .sidebar-widget {
	position: relative;
}
.sidebar-widget {
	padding: 30px;
	background: #f5f7fc;
	border-radius: 8px;
	margin-bottom: 40px;
}
.sidebar-widget .widget-title {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #202124;
	margin-bottom: 30px;
}
.job-overview, .job-overview li {
	position: relative;
  padding: 0;
  list-style: none;
}
.job-overview li {
	padding-left: 50px;
}
.job-overview li:not(:last-child) {
	margin-bottom: 30px;
}
.job-overview li i {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: 50%;
}
.job-overview h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #202124;
  margin-bottom: 0;
}
.job-overview span {
	font-size: 15px;
	line-height: 20px;
}
.job-skills {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.job-skills li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
}
.job-skills li a {
	padding: 5px 20px;
	display: block;
	font-size: 14px;
	line-height: 19px;
	color: dimgray;
	border-radius: 4px;
	background: #fff;
}
.sidebar-widget .apply_now a {
	border: 1px solid #e4e4e4;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #e1e1e1;
	text-transform: uppercase;
	font-weight: 500;
  margin-top: 20px;
}
/* job apply modal */
.apply-modal-content {
  padding:40px
}
.apply-modal-content .title {
  margin-bottom:20px;
  font-size:22px;
  font-weight:500
}
.uploading-outer.apply-cv-outer {
  display:block;
  padding-bottom:0;
  margin-bottom:0
}
.uploading-outer.apply-cv-outer .uploadButton .uploadButton-button {
  width:100%;
  border-color:rgba(25,103,210,.15);
  height:auto;
  padding:30px;
  font-size:14px;
  color:#77838f
}
.uploading-outer.apply-cv-outer .uploadButton .uploadButton-button:before {
  display:none
}
.default-form .form-group textarea {
	position: relative;
	width: 100%;
	display: block;
	height: 60px;
	line-height: 30px;
	font-size: 15px;
	color: dimgray;
	background-color: #f0f5f7;
	border: 1px solid #f0f5f7;
	box-sizing: border-box;
	border-radius: 8px;
	transition: all .3s ease;
	height: 160px;
	resize: none;
	padding: 15px 20px;
}
.input-group {
  position:relative;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  width:100%
}
.checkboxes.square label:before {
  border-radius:2px
}
.checkboxes label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 2px;
	background-color: #fff;
	border: 1px solid #ecedf2;
	border-radius: 10px;
	box-sizing: border-box;
	transition: all .25s;
	font-family: Font Awesome\ 5 Free;
	color: #fff;
	font-size: 9px;
	font-weight: 900;
	text-align: center;
	line-height: 17px;
}
.checkboxes label span {
	color: #909090;
}
.theme-btn {
	position: relative;
	display: inline-flex;
	transition: all .5s ease;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.btn-style-one {
	position: relative;
	text-align: center;
	white-space: nowrap;
	color: #fff;
	background-color: var(--primary-color);
	font-size: 15px;
	line-height: 20px;
	border-radius: 8px;
	font-weight: 400;
	padding: 18px 35px 15px;
}














/* work details */

.portfolio_title h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.portfolio_full_details img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 30px;
}

.portfolio_full_details h4 {
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: underline;
}

.portfolio_sidebar {
  padding: 20px 20px;
  background: #fff;
  box-shadow: 1px 5px 5px 4px #efefef;
  border-radius: 4px;
}
.project_info {
  padding: 20px 20px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.project_meta {
  border-bottom: 1px solid #e8dddd;
  margin-bottom: 20px;
}
.project_meta:last-child{
  margin-bottom: 0;
}
.project_meta:last-child{
  border-bottom: none;
}
.project_meta h3 {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 5px;
}
.project_meta p {
  font-size: 16px;
  margin-bottom: 15px;
}
.project_sample_download {
  padding: 20px;
}
.view_all_works {
  padding: 10px 20px;
  background-color: #333;
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

/* product page */

.section_title h4 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.section_title {
  display: flex;
  justify-content: center;
}
.product_box_item{
  overflow: hidden;
}
.product_box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  min-height: 300px;
}

.product_like {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  align-items: center;
  font-size: 16px;
}
.product_btn {
  height: 34px;
  width: 34px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.product_btn fill {
  color: #fff;
}

.product_btn svg {
  fill: var(--bs-gray-200);
}
.product_view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.product_view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.product_inner {position: relative;background: #181818;padding: 12px 16px 16px;border-radius: 0 0 16px 16px;}

.product_head .product_titile {
  color: var(--body-bg);
  font-size: 16px;
}

.product_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.product_head .product_price {
  font-size: 16px;
  color: var(--bs-gray-300);
}

.product_meta {
  display: flex;
  gap: 10px;
  font-size: 14px;
  align-items: center;
}
.product_meta a img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.product_meta a {
  color: var(--body-bg);
}

.product_box:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgb(0 0 0 / 60%);
  border-radius: 10px 10px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

.product_box .product_like {
  z-index: 999;
  position: relative;
  color: #fff;
  gap: 10px;
  margin-right: 15px;
}

.product_box_item .product_like, .product_box_item .product_view {
  opacity: 0;
  visibility: hidden;
}
.product_box_item:hover .product_box:before{
  opacity: 1;
}
.product_box_item:hover .product_like, .product_box_item:hover .product_view{
  opacity: 1;
  visibility: visible;
}

.product_section .load_more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  transition: all .3s;
}
.product_section .load_more a {
  padding: 10px 20px;
  background-color: var(--bs-gray-800);
  color: #fff;
  font-size: 16px;
  margin: 0;
  transition: all .3s;
}
.product_section .load_more:hover a{
  background-color: var(--bs-gray-900);
  transition: .3s;
}

/* product details page */

.product_details_header {
	padding: 200px 0 100px 0;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #ddd;
	position: relative;
	z-index: 2;
}
.product_short_info{
  z-index: 4;
}
/* .pnav__arrow {
  flex-shrink: 0;
  width: 6px;
  height: 8px;
  margin: 0 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.5C0 0.675955 0.940764 0.205573 1.6 0.7L4.93333 3.2C5.46667 3.6 5.46667 4.4 4.93333 4.8L1.6 7.3C0.940764 7.79443 0 7.32405 0 6.5V1.5Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
} */

.product_details_header::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000000b8;
	content: '';
	z-index: 1;
}
.product_short_info {
  z-index: 4;
  color: #fff;
}
.product_title h1 {
  font-size: 35px;
  color: #fff;
}



.product_meta_left {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.product_meta_left a img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border: 1px solid #fffff7;
  border-radius: 50px;
}

.product_meta_left a {
  color: var(--body-bg);
}
.product_meta_info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 44px;
  align-items: center;
}
.page_nav_group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}
.page_nav_group a {
	color: #fff;
}
.wish_list, .comment_list, .live_preview, .add_to_cart {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 15px;
	border: 1px solid #ffffff75;
	border-radius: 50px;
	gap: 5px;
	color: #fff;
}
.page_nav_group svg {
  height: 20px;
  width: 20px;
}
.add_to_cart {
	background-color: var(--btn-bg);
	color: #fff;
}

.product_gallery {
  position: relative;
}
.product_gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 80px;
}
.product_gallery ul li {
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 calc(50% - 24px);
  margin: 0 12px 24px;
  border-radius: 24px;
  overflow: hidden;
}
.product_gallery ul li img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product_description {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}
.product_overview {
  max-width: 50%;
  margin-right: 100px;
}
.product_overview h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.product_overview p {
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  color: #7A848B;
}


.product_highlight h4 {
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.product_highlight ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.product_highlight li {	
  position: relative;
	margin-bottom: 16px;
	padding-left: 32px;
	font-size: 16px;
	line-height: 24px;
	color: #7A848B;
}
.product_highlight li::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill-rule='evenodd' d='M10.001.833A9.17 9.17 0 0 0 .834 10a9.17 9.17 0 0 0 9.167 9.167A9.17 9.17 0 0 0 19.167 10 9.17 9.17 0 0 0 10.001.833zm4.339 7.256c.325-.325.325-.853 0-1.179s-.853-.325-1.178 0l-4.411 4.411L6.84 9.411c-.325-.325-.853-.325-1.179 0s-.325.853 0 1.178l2.5 2.5c.325.325.853.325 1.179 0l5-5z' fill='%2300A656'/%3E%3C/svg%3E");
}
/* related slider */
.related_slider .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.related_slider .owl-dots button {
  height: 5px;
  width: 10px;
  background: #000000;
  margin: 3px;
  border-radius: 5px;
  display: inline-block;
  transition: .3s;
}
.related_slider .owl-dots .owl-dot.active{
  width: 20px;
}
.hover_gear{
  animation: roundcircle 2s linear infinite;
  display: none;
}

.load_more:hover a svg{
  display: inline-block;
}